ul {
    list-style: none;
    display: flex;
}

/*HEADER*/

.header .container {
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
    height: 72px;
    border-bottom: 1px solid #E7E9FC;
    width: 100%;
    max-width: 1440px;
    display: flex;
}

.menu-toggle {
    display: none;
}

.nav {
    display: flex;
    align-items: center;
    gap: 76px;
}

.nav .list {
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.address .list {
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.header-link {
    color: #2E2F42;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover {
    color: #404BBF;
}

.logo {
    display: block;
}

.address a {
    color: #434455;
    font-style: normal;
}

@media (max-width: 1066px) {
    .nav {
        gap: 40px;
    }

    .nav .list,
    .address .list {
        gap: 20px;
    }

    .address .list {
        display: flex;
        flex-direction: column;
    }

    .header-link {
        font-size: 14px;
    }
}

@media (max-width: 770px) {
    .nav .list {
        display: none;
    }

    .address .list {
        display: none;
    }

    .nav {
        justify-content: space-between;
        display: flex;
        gap: 200px;
    }

    .menu-toggle {
        display: block;
        min-height: 40px;
        min-width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        background-color: transparent;
        cursor: pointer;
        border: none;
        border-radius: 50%;
    }

    .menu-icon {
        gap: 30px;
        justify-content: start;
    }

    .container {
        max-width: 426px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
    }

}

/***********************************************************/

/*FOOTER*/
.footer {
    background-color: #2E2F42;
    padding: 100px 0;
    height: 312px;
    width: 100%;
}

.footer .container {
    display: flex;
    margin: 0 auto;
    padding: 0 20px;
    gap: 120px;
    display: flex;
    max-width: 1440px;
}

.footer .text {
    color: #F4F4FD;
    line-height: 1.5;
    margin: 0;
}

.footer-icons {
    gap: 16px;
    margin: 0;
    padding: 0;
}

.footer-logo {
    max-width: 264px;
    height: 122px;
}

.social .text {
    font-weight: 500;
    line-height: 24px;
    size: 16px;
    padding-bottom: 16px;
    margin: 0;
}

.sub-form .sub-text {
    font-weight: 500;
    size: 16px;
    line-height: 24px;
    color: #F4F4FD;
    margin: 0;
    padding-bottom: 16px;
}

.user-email {
    width: 264px;
    height: 40px;
    border: 1px solid #FFFFFF;
    background-color: #2E2F42;
    border-radius: 4px;
    padding: 8px 16px;
    color: #fff;
}

.form {
    display: flex;
    gap: 24px;
}

.sub-subm {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    width: 165px;
    height: 40px;
    background-color: #4D5AE5;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0 24px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sub-subm:hover {
    background-color: #404BBF;
}

.icon-teg {
    fill: white;
}

.social-icon {
    fill: white;
    background-color: #4d5ae5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0;
    cursor: pointer;
}

.social-icon:hover {
    background-color: #31D0AA;
}

.icon-social {
    fill: white;
}

@media (max-width: 1066px) {
    .footer {
        height: auto;
        width: 100%;
    }

    .footer .container {
        padding: 40px 20px;
        max-width: 768px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        gap: 72px 24px;
    }

    .sub-form {
        width: 100%;
        max-width: 453px;
        margin: 0 auto;
    }

    .form {
        display: flex;
        gap: 24px;
    }

    .sub-subm {
        padding: 8px 24px;
    }
}

@media (max-width: 770px) {
    .form {
        display: block;
        unicode-bidi: isolate;
        margin: 0 auto;
        align-content: center;
        justify-content: center;
    }

    .sub-text {
        text-align: center;
    }

    .user-email {
        width: 100%;
        height: 40px;
        border: 1px solid #FFFFFF;
        background-color: #2E2F42;
        border-radius: 4px;
        padding: 8px 16px;
        color: #fff;
        margin-bottom: 16px;
    }

    .sub-subm {
        min-width: 165px;
        display: flex;
        height: 40px;
        font-weight: 500;
        background-color: #4D5AE5;
        color: #FFFFFF;
        line-height: 1.5;
        letter-spacing: 0.04rem;
        align-items: center;
        justify-content: center;
        padding: 0 24px;
        border-radius: 4px;
        margin: 0 auto;
        border: none;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .container {
        height: auto;
        margin: 0 auto;
        align-content: center;
        justify-content: center;
    }
}

/************************************************************************/

/***************************MAIN-SECTION*********************************/
/***************************SERVICE*********************************/

.service {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/people-office.jpg);
    max-width: 1440px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.service-h1 {
    font-weight: 700;
    color: #FFFFFF;
    line-height: 60px;
    font-size: 56px;
    line-height: 1.07;
    height: 120px;
    margin: 0 auto;
    margin-bottom: 48px;
    max-width: 496px;
}

.service .button {
    font-size: 16px;
    color: white;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04rem;
    background-color: #4d5ae5;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.service .button:hover,
.service .button:focus {
    background-color: #404bbf;
}

@media (max-width: 770px) {
    .service-h1 {
        font-weight: 700;
        color: #FFFFFF;
        line-height: 60px;
        font-size: 36px;
        line-height: 1.07;
        height: 120px;
        margin: 0 auto;
        margin-bottom: 48px;
        max-width: 496px;
    }
}

/***************************BENEFITS*********************************/

.benefits .container {
    padding-top: 120px;
    width: 100%;
    max-width: 1440px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20 0;
}

.benefits-list {
    list-style: none;
    display: flex;
    gap: 24px;
    padding: 0;
    align-content: center;
    justify-content: center;
}

.benefits-list .text {
    width: 264px;
    height: 72px;
    font-weight: 400;
    padding: 0;
}

.benefits-list .h-two {
    font-weight: 500;
    align-content: left;
}

@media (max-width: 1066px) {

    .benefit-img {
        display: none;
    }

    .benefits .container {
        padding-top: 50px;
        width: 100%;
        max-width: 736px;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 20 0;
    }

    .benefits-list {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        padding: 0;
        align-content: center;
        justify-content: center;
    }

    .benefits-list .h-two {
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        letter-spacing: 0.02em;
        /* 2% = 0.02em */
        text-align: left;
    }

    .benefit {
        align-content: center;
        justify-content: center;
        margin: 0 auto;
    }
}

@media (max-width: 1210px) {
    .benefit-img {
        display: none;
    }

    .benefits .container {
        padding-top: 50px;
        width: 100%;
        max-width: 500px;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 20 0;
    }

    .benefits-list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 0;
        margin: 0 auto;
        align-content: center;
        justify-content: center;
    }

    .benefits-list .h-two {
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        letter-spacing: 0.02em;
        /* 2% = 0.02em */
        text-align: center;
    }

    .benefits-list .text {
        width: 264px;
        height: 72px;
        font-weight: 400;
        padding: 0;
        margin: 0 auto;
    }
}

/***************************WHAT ARE WE DOING SECTION********************************/
.work .container {
    padding-top: 100px;
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    justify-content: center;
    align-content: center;
    padding-bottom: 100px;
}

.wawd-htwo {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.045rem;
    text-transform: capitalize;
    text-align: center;
}

.wawd-list {
    display: flex;
    padding: 0;
    gap: 24px;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
}

@media (max-width: 1066px) {
    .work .container {
        display: none;
    }
}

/***************************TEAM MEMBERS*********************************/
.team {
    max-width: auto;
    background-color: #F4F4FD;
}

.team .container {
    max-width: 1440px;
    width: 100%;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    padding: 120px 0;
}

.team-h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.045rem;
    text-transform: capitalize;
    text-align: center;
    padding-bottom: 72px;
}

.member {
    background-color: white;
    height: 428px;
    max-width: 264px;
}

.team-members {
    list-style: none;
    display: flex;
    gap: 24px;
    justify-content: center;
    align-content: center;
}

.list-icon {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-content: center;
    max-width: 264px;
    padding: 0;
    margin: 0 auto;
}

.li-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    background-color: #4d5ae5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0;
}

.icon-team {
    fill: white;
}

.desc-member {
    width: 264px;
    height: 168px;
    gap: 8px;
    align-content: center;
    text-align: center;
}

@media (max-width: 1066px) {
    .team-members {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        padding: 0;
        align-content: center;
        justify-content: center;
    }

    .team .container {
        max-width: 552px;
        width: 100%;
        align-content: center;
        justify-content: center;
        margin: 0 auto;
        padding: 120px 0;
    }
}

@media (max-width: 770px) {
    .team-members {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 0;
        align-content: center;
        justify-content: center;
    }

    .team .container {
        max-width: 264px;
        width: 100%;
        align-content: center;
        justify-content: center;
        margin: 0 auto;
        padding: 120px 0;
    }
}

/************************CUSTOMERS**************************/
.customers .container {
    width: auto;
    margin: 0 auto;
    height: 300px;
    align-content: center;
    justify-content: center;
}

.customers-list {
    display: flex;
    list-style: none;
    gap: 40px;
    width: auto;
    height: 88px;
    padding: 0;
    margin: 0 auto;
    align-content: center;
    justify-content: center;
    padding: 16px 16px;
}

.customer {
    width: 168px;
    height: 88px;
    border: 1px;
    border-color: gray;
}

.customer-htwo {
    height: 40px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    align-content: center;
}

.customer .link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8e8f99;
    background-color: white;
    width: 190px;
    height: 88px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0;
    padding: 0;
}

.customer .icon {
    fill: #8e8f99;
}

.customer .link:hover,
.customer .link:focus {
    border-color: #4d5ae5;
    color: #4d5ae5;
}

.customer .icon {
    fill: currentColor;
}

@media (max-width: 1269px) {
    .customers-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
        width: 100%;
        height: auto;
        padding: 16px 15px;
    }

    .customers .container {
        width: auto;
        margin: 0 auto;
        height: 350px;
        align-content: center;
        justify-content: center;
    }

    .customer {
        width: 100%;
        height: 88px;
        margin: 0 auto;
    }

    .customer .link {
        width: 100%;
        max-width: 190px;
        margin: 0 auto;
    }
}

@media (max-width: 770px) {
    .customers-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        padding: 16px 16px;
    }

    .customers .container {
        width: auto;
        margin: 0 auto;
        height: 500px;
        align-content: center;
        justify-content: center;
    }

    .customer-htwo {
        font-size: 28px;
        margin-bottom: 48px;
    }

    .customer {
        width: 90%;
        height: 88px;
        margin: 0 auto;
    }
}

/**************************PORTFOLIO*************************/
.portfolios {
    max-width: auto;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
}

.portfolios .list-button {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 0;
    margin-bottom: 72px;
    margin-top: 100px;
    padding: 0;
}

.portfolios .port-list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 40px 40px;
    list-style-type: none;
    padding-bottom: 120px;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    max-width: 1200px;
}

.cont-port {
    padding: 32px 16px;
    margin: 0;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolios .link:hover,
.portfolios .link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolios .link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay {
    position: relative;
    overflow: hidden;
}

.overlay .text {
    background-color: #4d5ae5;
    color: #f4f4fd;
    position: absolute;
    line-height: 1.5em;
    letter-spacing: 0.02rem;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    top: 0;
    margin: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolios .link:focus .overlay .text,
.portfolios .link:hover .overlay .text {
    transform: translateY(0%);
}

.portfolios .button-port {
    color: #4d5ae5;
    background-color: #f4f4fd;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04rem;
    cursor: pointer;
    padding: 12px 24px;
    border: 1px solid #e7e9fc;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolios .button-port:hover,
.portfolios .button-port:focus {
    color: #FFFFFF;
    background-color: #404bbf;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolios .text {
    color: #434455;
}

/******************************************************MODAL***************************************************/

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop {
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.text-order {
    margin: 0 0 16px 0;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.02rem;
    line-height: 1.5;
}

.modal-form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}

.user {
    font-size: 12px;
    letter-spacing: 0.04rem;
    line-height: 1.17;
    color: var(--lightslate);
    display: block;
    margin: 8px 0 4px 0;
}

.input-cont {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 0 0 0 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sub-comment {
    margin: 0 0 16px 0;
}

.comment-box {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 12px;
    letter-spacing: 0.04rem;
    line-height: 1.17;
    resize: none;
    color: rgba(46, 47, 66, 0.4);
    padding: 8px 16px;
}

.buto-send {
    display: block;
    margin: auto;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    letter-spacing: 0.04rem;
    line-height: 1.5;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
}